In [1]:
import pandas as pd
from pipeline import Dataset, load_mini_dataset

In [2]:

dataset_mini = load_mini_dataset('../../data/parsed_mini/')
dataset = Dataset.load('../../data/parsed')

In [41]:
m_df_mini = dataset_mini.market
m_df = dataset.market
f_df = dataset.fundamental

In [17]:
f_df.reset_index(inplace=True)
f_df

,day,asset,turnoverRatio,transactionAmount,pe_ttm,pe,pb,ps,pcf
0,1,0,3.6794,17229.0,34.4425,32.3029,4.9425,3.8180,-578.7700
1,1,1,2.5150,3706.0,28.9934,27.2726,5.0552,3.0484,23.8260
2,1,2,1.2858,5136.0,42.9352,41.9279,4.8083,4.1392,-58.2185
3,1,3,2.2007,3280.0,15.2245,13.8032,2.1904,0.6691,61.0491
4,1,4,0.8627,5291.0,-369.9850,-433.1736,3.0714,2.9370,-25.2279
...,...,...,...,...,...,...,...,...,...
53995,1000,49,0.3201,4603.0,40.4933,40.4933,2.7886,1.0333,72.0836
53996,1000,50,0.4137,2514.0,19.7194,19.7194,2.5400,1.1739,-38.5837
53997,1000,51,1.1524,5514.0,13.8265,13.8265,1.3388,0.6641,18.4961
53998,1000,52,0.6358,7556.0,28.5368,28.5368,5.6946,3.6566,-573.3135
53999,1000,53,1.0683,6467.0,10.6152,10.6152,1.9889,0.4059,134.0916

In [7]:
m_df_mini

                    Unnamed: 0     open    close     high      low     volume  \
day asset timeslot
1   0     1                  0  25.0164  24.9557  25.1378  24.9436   642243.0
          2                 54  24.9557  24.8465  24.9557  24.8101   797872.0
          3                108  24.8465  24.7008  24.8586  24.6644  1234546.0
          4                162  24.7008  24.7615  24.7858  24.7008   533023.0
          5                216  24.7615  24.7251  24.7615  24.7008   565000.0
...                        ...      ...      ...      ...      ...        ...
10  53    46             26783   8.7758   8.7758   8.7879   8.7758   127826.0
          47             26837   8.7879   8.8001   8.8001   8.7879   131828.0
          48             26891   8.8001   8.8122   8.8122   8.7879    48728.0
          49             26945   8.8122   8.8243   8.8365   8.8122   156428.0
          50             26999   8.8243   8.8365   8.8365   8.8243    47788.0

                           money
day asset timeslot
1   0     1         1.610060e+07
          2         1.984058e+07
          3         3.056567e+07
          4         1.318848e+07
          5         1.396949e+07
...                          ...
10  53    46        1.122993e+06
          47        1.159135e+06
          48        4.289581e+05
          49        1.380775e+06
          50        4.223538e+05

[27000 rows x 7 columns]

In [23]:
list(f_df.index.names) == f_df.index.names

True

In [35]:
(f_df.columns == f_df.columns).all()

True

In [20]:
if 'day' in f_df.index.names and 'asset' in f_df.index.names:
    if 'timeslot' in f_df.index.names:
            print('Valid indices for market data only')
    else:
        print('Valid indices for return and fundamental data ')
else:
    print('Index name not valid')

Index name not valid

In [54]:
expect_index = list(m_df.index.names)
expect_feature = list(m_df.columns)
df = m_df_mini
if df.index.names != expect_index:
    raise ValueError('Expecting index as {} but got {}'.format(expect_index, list[df.index.names]))
elif (df.columns != expect_feature).any():
    raise ValueError(f'Expecting feature as {expect_feature} but got {list(df.columns)}')
else:
    pass

ValueError: Expecting feature as ['open', 'close', 'high', 'low', 'volume', 'money'] but got ['Unnamed: 0', 'close', 'high', 'low', 'volume', 'money']

In [42]:
m_df_mini = m_df_mini.drop(columns='open')

In [47]:
df.index.names == expect_index

True

In [52]:
(df.columns != expect_feature).any()

True